[submodule "NotEnoughItems"]
	path = NotEnoughItems
	url = git@github.com:Chicken-Bones/NotEnoughItems.git
	branch = 1.7
[submodule "CodeChickenCore"]
	path = CodeChickenCore
	url = git@github.com:Chicken-Bones/CodeChickenCore.git
	branch = 1.7.10
[submodule "CodeChickenLib"]
	path = CodeChickenLib
	url = git@github.com:Chicken-Bones/CodeChickenLib.git
	branch = 1.7
